body {
    height: 100vh;
    width: 100%;
    background: rgb(189, 32, 49);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(189, 32, 49), rgb(204, 153, 0));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(189, 32, 49), rgb(204, 153, 0));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(189, 32, 49), rgb(204, 153, 0));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(189, 32, 49), rgb(204, 153, 0));
    /* Standard syntax */
}

#top-bar {
    display: flex;
    position: fixed;
    height: 10vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#logo-container {
    display: flex;
}

#logo-text {
    padding-left: 2vw;
    display: flex;
    align-items: center;
    font-family: 'Pacifico', cursive;
    font-size: 5vh;
    text-shadow: 0 0 5vh black;
}

#logo-pic-container {
    display: flex;
    align-items: center;
}

#logo-pic {
    height: 5vh;
    padding-left: 1%;
    display: flex;
    align-items: center;
    -webkit-filter: drop-shadow(0 0 5px rgb(0, 0, 0));
    filter: drop-shadow(0 0 5px rgb(0, 0, 0));
}

#account-meta {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2vw;
}

#profile-pic {
    height: 7vh;
    box-shadow: 0 0 3vh black;
    border-radius: 7vh;
}

.username-container {
    display: flex;
    align-items: center;
    height: 10vh;
    font-family: 'Comfortaa', cursive;
    font-size: 2vh;
    text-shadow: 0 0 3vh black;
    padding-right: 2vw;
}

#under-bar {
    padding-top: 10vh;
}

#cat-title {
    font-family: 'Comfortaa', cursive;
    font-size: 5vh;
    text-shadow: 0 0 4vh black;
    color: white;
    padding: 5vh 0vw 2vh 5vw;
}

#trip-icon-container {
    display: flex;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    height: 5vh;
    justify-content: space-around;
}

.icon-holder {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.trip-icon {
    height: 4vh;
}

#trips-container {
    padding: 2vh 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.trip {
    width: 100%;
    display: flex;
    margin: 0 auto;
    text-align: center;
    flex-direction: row;
}

.trip-part {
    font-family: 'Comfortaa', cursive;
    color: white;
    text-shadow: 0 0 5vh black;
    font-size: 3vh;
    width: 20%;
    flex-direction: column;
}

button[class="trip-part"] {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    width: 20%;
}

button[class="trip-part"]:hover {
    font-weight: 900;
    text-shadow: 0 0 1vh white;
}

button:focus {
    outline: 0;
}

form {
    display: flex;
    align-content: center;
    height: 5vh;
    justify-content: space-around;
}

.form-item-container {
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 2vh;
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.form-item {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 1vh;
    color: white;
    height: 5vh;
    padding: 10px;
}

.form-item:focus {
    outline: 0;
}

.time {
    width: 8vw;
}

.not-time {
    width: 10vw;
}

.form-item[type="submit"] {
    padding:none;
    width: 10vw;
    margin-right: auto;
}

.form-item[type="submit"]:hover {
    font-weight: 900;
    text-shadow: 0 0 1vh white;
}
