  <!DOCTYPE html>
<html>

<head>
    <title> Travlr </title>
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="accountstyle.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300|Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.0/css/hover-min.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="appendTrips.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
  <div id = "top-bar">
    <span class = "hvr hvr-grow" id = "logo-container">
      <span id = "logo-text">
        Travlr
      </span>
      <span id = "logo-pic-container">
        <img id = "logo-pic" src="assets/traveler.png" alt="horsey">
      </span>
    </span>
    <div id = "account-meta">
      <span class = "username-container">
        Max C.L. Nikias
      </span>
      <img id = "profile-pic" src="assets/placeholder-prof-pic.png" alt="profile-picture">
    </div>
  </div>
  <div id = "under-bar">
    <div id = "cat-title">Your Trips</div>
    <div id = "trip-icon-container">
      <div class = "icon-holder" ><img class = "trip-icon" src = "assets/from.png" alt="from"></div>
      <div class = "icon-holder" ><img class = "trip-icon" src = "assets/to.png" alt="to"></div>
      <div class = "icon-holder" ><img class = "trip-icon" src = "assets/clock.png" alt="clock"></div>
      <div class = "icon-holder" ><img class = "trip-icon" src = "assets/calendar.png" alt="calendar"></div>
      <div class = "icon-holder" ><img class = "trip-icon" src="assets/blank.png" alt="blank"></div>
    </div>
    <div id = "trips-container" name = "trips-container">
      <div class = "trip">
        <span class = "trip-part">USC</span>
        <span class = "trip-part">LAX</span>
        <span class = "trip-part">2:00pm - 3:00pm</span>
        <span class = "trip-part">1/29/17</span>
        <button class = "trip-part" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Check Matches!</button>
      </div>
      <div class = "trip">
        <span class = "trip-part">LAX</span>
        <span class = "trip-part">USC</span>
        <span class = "trip-part">2:00pm - 3:00pm</span>
        <span class = "trip-part">2/2/17</span>
        <button class = "trip-part">Check Matches!</button>
      </div>
    </div>
    <div ng-app="" ng-init="from; to; earliest; latest; date" class = "form-container">
      <form id="tripInfo">
        <span class = "form-item-container" id = "to">
          <input ng-model="from" placeholder="Where from?" class = "form-item not-time" type="text" name="toLocal" value = ""/>
        </span>
        <span class = "form-item-container" id = "from">
          <input ng-model="to" placeholder="Where to?" class = "form-item not-time" type="text" name="fromLocal"/>
        </span>
        <span class = "form-item-container">
          <span id = "earliest-depart">
            <input ng-model="earliest" placeholder="2:00 pm" class = "form-item time" value = "Earliest" type="text" name="earlyTime"/>
          </span>
          &nbsp;-&nbsp;
          <span id = "lastest-depart">
            <input ng-model="latest" placeholder="3:00 pm" class = "form-item time" type="text" name="lateTime"/>
          </span>
        </span>
        <span class = "form-item-container" id = "date">
          <input ng-model="date" placeholder="mm/dd/yy" class = "form-item not-time" type = "text" name = "date" />
        </span>
        <span class = "form-item-container" id = "submit">
          <input class = "form-item" type = "submit" value="Add Trip"/>
        </span>
      </form>
    </div>
  </div>
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <form id="newUser">
            <input type="text" id="usr"/>
            <input type="text" id="pwd"/>
          <!-- <p>Some text in the modal.</p> -->
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- Modal Content end -->
    </div>
  </div>
  <!-- Modal End -->
</body>
