<!DOCTYPE html>
<html>

<head>
    <title> Travlr </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="SignInStyle.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300|Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body>
  <div id = "elements-container">
    <div id = "logo-container">
      <span id = "logo-text">
        Travlr
      </span>
      <span id = "logo-pic-container">
        <img id = "logo-pic" src="assets/traveler.png" alt="horsey">
      </span>
    </div>
    <div ng-app="" ng-init="email; password" class = "inp-container">
      <div class = "inp-container">
        <input id = "usr" placeholder="email" ng-model="email">
      </div>
      <div class = "inp-container">
        <input type="password" id = "pwd" placeholder="password" ng-model="password">
      </div>
      <a href="account.html">
      <div>
        <button type="submit" class="inp-container">Sign In</button>
      </div></a>
    </div>
    <div class="inp-container">
    <button type="button" class="userId" data-toggle="modal" data-target="#myModal">
      Not a member? Sign up now!
    </button>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Create New Account</h4>
          </div>
          <div class="modal-body">
            <form id=newUser>
              <div class = "inp-container">
                <input type="text" placeholder="email" class="new-cnt" id="usr"/>
              </div>
              <div class = "inp-container">
                <input type="password" placeholder="password" class="new-cnt" id="pwd"/>
              </div>
              <div class = "inp-container">
                <input type="password" placeholder="confirm password" class="new-cnt" id="pwdC" />
              </div>
              <!-- <p>Some text in the modal.</p> -->
          </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="createUserModal">Create New User!</button>
            <button type="button" class= "createUserModal" data-dismiss="modal">Close</button>
          </div>
        </div>
        <!-- Modal Content end -->
      </div>
    </div>
    <!-- Modal End -->
  </div>
</body>
</html>
