body {
    height: 100vh;
    background: rgb(189, 32, 49);
    background: -webkit-linear-gradient(rgb(189, 32, 49), rgb(204, 153, 0));
    background: -o-linear-gradient(rgb(189, 32, 49), rgb(204, 153, 0));
    background: -moz-linear-gradient(rgb(189, 32, 49), rgb(204, 153, 0));
    background: linear-gradient(rgb(189, 32, 49), rgb(204, 153, 0));
}

#logo-container {
    display: flex;
    color:white;
    margin-right:2.2%;
}

#logo-text {
    padding-left: 2vw;
    display: flex;
    align-items: center;
    font-family: 'Pacifico', cursive;
    font-size: 9vh;
    text-shadow: 0 0 5vh black;
    margin:0 0 0 auto;
}

#logo-pic-container {
    display: flex;
    align-items: center;
    margin:0 auto 0 0;
}

#logo-pic {
    height: 9vh;
    padding-left: 1%;
    display: flex;
    align-items: center;
    -webkit-filter: drop-shadow(0 0 5px rgb(0, 0, 0));
    filter: drop-shadow(0 0 5px rgb(0, 0, 0));
}


#elements-container {
    padding-top: 25vh;
}

.inp-container {
    margin: 1vh auto 1vh auto;
    text-align: center;
}

.button-container {
    margin: 3vh auto 1vh auto;
    text-align: center;
}

button {
    color: white;
    font-family: 'Comfortaa', cursive;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    height: 5vh;
    width: 20vw;
    border: 0;
    border-radius: 1vh;
    text-align: center;
}

button:focus {
    outline: 0;
}

button:hover {
    text-shadow: 0 0 1vh white;
}

input {
    color: white;
    font-family: 'Comfortaa', cursive;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    height: 5vh;
    width: 20vw;
    border: 0;
    border-radius: 1vh;
    padding-left: 10px;
}

input:focus {
    background-color: rgba(0, 0, 0, 0.65);
    outline: none;
}

input:focus[class="new-cnt"]{
  background-color: rgba(0,0,0,0.2);
  border-radius: 3vh;
}

/* Modal Content/Box */
.modal-title {
  font-family: 'Comfortaa', cursive;
  color:black;
  font-weight: 900;
  font-size: 2vh;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 0px;
    border: 1px solid #888;
    width: 80%;
    font-family: 'Comfortaa', cursive;
    /* Could be more or less, depending on screen size */
}

.model-header{
    height:200px;
}

button[class="userId"] {
    color: white;
    font-family: 'Comfortaa', cursive;
    margin: 0 auto;
    background-color: transparent;
    height: 2vh;
    width: 20vw;
    border: none;
    border-radius: none;
}

button[class="userId"]:hover {
    text-shadow: 0 0 1vh white;
}

button[class="createUserModal"]{
    color:black;
    background-color:white;
    border-color: black;
    border-width:thick;
    width: 10vw;
    text-align: center;
}

.new-cnt {
    margin: 1vh auto 1vh auto;
    text-align: left;
    left: 50%;
    right: 50%;
    font-family: 'Comfortaa', cursive;
    color:black;
    background-color:white;
    border-radius: 5px;
    border-color: grey;
}

.newUser {
    margin: 0 auto;
    text-align: center;
}


/* The Close Button */

.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
}



/*
font-family: 'Pacifico', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'PT Sans', sans-serif;
*/
